<div class="to-do-item">
  <mat-icon
    matRipple
    class="to-do-item-action to-do-item-action-complete"
    [ngClass]="{
      'to-do-item-action-complete-active': toDoItem.status === 2,
      'to-do-item-action-complete-inactive': toDoItem.status !== 2
    }"
    (click)="toDoItem.status = 2"
  >
    done_outline
  </mat-icon>
  <mat-icon
    matRipple
    class="to-do-item-action to-do-item-action-inprogress"
    [ngClass]="{
      'to-do-item-action-inprogress-active': toDoItem.status === 1,
      'to-do-item-action-inprogress-inactive': toDoItem.status !== 1
    }"
    (click)="toDoItem.status = 1"
  >
    schedule
  </mat-icon>
  <input
    class="to-do-item-title"
    [ngClass]="{ 'to-do-item-title-editing': toDoItem.editing }"
    [(ngModel)]="toDoItemTempTitle"
    (focus)="editToDo()"
    (blur)="saveToDo()"
  />
  <mat-icon
    class="float-right to-do-item-action to-do-item-action-edit"
    (click)="editToDo()"
    *ngIf="!toDoItem.editing"
    >edit</mat-icon
  >
  <mat-icon
    class="float-right to-do-item-action to-do-item-action-save"
    *ngIf="toDoItem.editing"
    >save</mat-icon
  >
</div>
